body { margin: 0; padding: 0; background-image: url('../public/images/bg.jpeg'); background-size: cover; background-repeat: no-repeat;}
@font-face {
    font-family: 'Practice';
    font-style: normal;
    font-weight: normal;
    src: local('Practice'), url('../src/font/Practice-font.otf') format('otf');
  }