body { margin: 0; padding: 0; background-image: url('../public/images/d-bg.png'); background-size: cover; background-repeat: no-repeat;}


@media(max-width: 678px) {
  body {background-image: url('../public/images/bg.jpeg');}
}
@font-face {
    font-family: 'Practice';
    font-style: normal;
    font-weight: normal;
    src: local('Practice'), url('../src/font/Practice-font.otf') format('otf');
  }