body { margin: 0; padding: 0; background-color: #141414 !important; }
@font-face {
    font-family: 'Practice';
    font-style: normal;
    font-weight: normal;
    src: local('Practice'), url('../src/font/Practice-font.otf') format('otf');
  }